[flake8]
max-line-length = 100
exclude =
    .git,
    __pycache__,
    venv,
    .venv,
    build,
    dist,
    .pytest_cache,
    notebooks/.ipynb_checkpoints
ignore =
    E203,
    E221,
    E226,
    E241,
    E272,
    E402,
    E501,
    W292,
    W503,
    W504
per-file-ignores =
    __init__.py:F401